.project-area{
    background-color: var(--theme-black);
}

.card-container{
    padding-top: 5rem;
}

.single-card img{
    width: 100%;
    margin: 10px 0;
}

.Projects-area{
    background-color: var(--theme-black);
}

.single-card{
    transition: 1s;
    padding: 2rem;
    background-color: #2B2B35;
    border: 1px solid #2B2B35;
}

.single-card:hover{
    border: 1px solid #fff;
}

.projectName img{
    position: relative;
    width: 100%;
    /* margin: 10px 0; */
}

.projectName h4{
    position: absolute;
    color: #ffffff;
    z-index: 1000;
    font-size: 1.5rem;
    text-transform: uppercase;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}