.project-area{
    background-color: var(--theme-black);
}

.card-container{
    padding-top: 5rem;
}

.single-card img{
    width: 100%;
    margin: 10px 0;
}

.Projects-area{
    background-color: var(--theme-black);
}