@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.about-area{
    background-color: var(--theme-black);
}

.hero-content{
    padding: 120px 50px;
}

.hero-heading{
  position: relative;
  font-size: 5rem;
  /* letter-spacing: 15px; */
  /* color: var(--theme-color-y); */
  text-transform: uppercase;
  /* width: 100%; */
  text-align: center;
  /* -webkit-box-reflect: below 1px liner-gradient(transparent, #53C2EE); */
  /* line-height: 0.70em; */
  outline: none;
  animation: animate 5s linear infinite;
  font-weight: 900;
  /* font-family: 'Monoton', cursive; */
}

@keyframes animate 
{
  0%,18%,20%,50%,1%,60%,65%,1%,80%,90%,1%,92%
  {
    color:#53C2EE;
    text-shadow: none;
  }
  18%,1%,20%,30%,50%,20%,1%,90%,92%,1%,100%{
    color: #fff;
    text-shadow: 0 0 10px #53C2EE,
    0 0 20px #53C2EE,
    0 0 40px #53C2EE,
    0 0 80px #53C2EE,
    0 0 160px #53C2EE,
  }
}

/* .hero-content h1{
  position: relative;
  font-size: 5vw;
  text-transform: uppercase;
  color: var(--white);
  font-family: 'Monoton', cursive;
} */

.hero-content small{
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 2px;
}

.skill-icon{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
}

.single-skill-icon{
  padding: 10px 15px;
  color: var(--white);
  background-color: var(--theme-color-x);
  margin: 0 5px;
  border: 2px solid var(--theme-color-x);
  transition: .7s;
  font-size: 20px;
}

.single-skill-icon:hover{
  background: none;
  border: 2px solid var(--theme-color-y);
}

/* .skill-icon{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  place-items: center;
  grid-gap: 10px;
  margin: 0 15rem;
  color: var(--white);
}

.single-skill-icon{
  background-color: var(--theme-color-x);
  margin: 10px 0;
  padding: 10px 15px;
  font-size: 25px;
  border: 2px solid var(--theme-color-x);
  transition: .7s;
  place-self: center stretch;
}

.single-skill-icon:hover{
  background: none;
  border: 2px solid var(--white);
  border: 2px solid #53C2EE;
} */


/* .theme-btn{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 1em auto;
  background: #343436;
  max-width: 300px;
  z-index: 0;
  position: relative;
  padding: 0.5em 1em;
  overflow: hidden;
  outline: none;
  border: none;
  z-index: 1;
}

.theme-btn::before{
  z-index: -1;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  content: "";
  background: #5a5a5a27;
  transition: .3s ease-in;
}

.theme-btn:hover:before {
  left: 0;
  transition: .3s ease-out;
}

.theme-btn:after {
  z-index: 1;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  content: "";
  background: #ffffff1a;
  transition: .7s ease-in;
}

.theme-btn:hover:after {
  left: 0;
  transition: .7s ease-out;
} */

@media only screen and (max-width: 1200px){
  .skill-icon{
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
  margin: 0 10rem;
   place-self: center;
   justify-items: center;
}
.single-skill-icon{
  place-self: center stretch;
}
}

@media only screen and (max-width: 768px){
  .skill-icon{
  grid-template-columns: repeat(3,1fr);
  margin: 0 5rem;
}
.hero-content h1{
  font-size: 30px;
}
}

@media only screen and (max-width: 400px){
  .skill-icon{
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
  margin: 0 2rem;
}
}
