@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.hero_img{
    background-color: var(--theme-color-2);
    padding: 20px;
    margin: 40px;
}

.hero_img img{
    width: 100%;
}

.about-area{
    background-color: var(--theme-black);
}

.hero-content{
    padding: 110px 50px;
    height: 60%;
    width: 80%;
}

.hero-content h1{
  position: relative;
  font-size: 5vw;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Monoton', cursive;
}

.hero-content small{
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 2px;
}

.skill-icon{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  place-items: center;
  grid-gap: 10px;
  margin: 0 15rem;
  color: var(--white);
}

.single-skill-icon{
  background-color: var(--theme-color-x);
  margin: 10px 0;
  padding: 10px 15px;
  font-size: 25px;
  border: 2px solid var(--theme-color-x);
  transition: .7s;
  place-self: center stretch;
}

.single-skill-icon:hover{
  background: none;
  border: 2px solid var(--white);
}

.theme-btn{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 1em auto;
  background: #343436;
  max-width: 300px;
  z-index: 0;
  position: relative;
  padding: 0.5em 1em;
  overflow: hidden;
  outline: none;
  border: none;
  z-index: 1;
}

.theme-btn::before{
  z-index: -1;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  content: "";
  /* background: var(--theme-color-y); */
  background: #5a5a5a27;
  transition: .3s ease-in;
}

.theme-btn:hover:before {
  left: 0;
  transition: .3s ease-out;
}

.theme-btn:after {
  z-index: 1;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  content: "";
  background: #ffffff1a;
  transition: .7s ease-in;
}

.theme-btn:hover:after {
  left: 0;
  transition: .7s ease-out;
}

@media only screen and (max-width: 1200px){
  .skill-icon{
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
  margin: 0 10rem;
   place-self: center;
   justify-items: center;
}
.single-skill-icon{
  place-self: center stretch;
}
}

@media only screen and (max-width: 768px){
  .skill-icon{
  grid-template-columns: repeat(3,1fr);
  margin: 0 5rem;
}
.hero-content h1{
  font-size: 30px;
}
}

@media only screen and (max-width: 400px){
  .skill-icon{
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
  margin: 0 2rem;
}
}
