
nav{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    background-color: var(--theme-black);
}

.logo a{
    left: 2rem;
    top: 2rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white);
    text-decoration: none;
    display: none;
}

.navItems{
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

.navItems li{
    display: inline-block;
    border-radius: 8px;
    transition: .3s ease background-color;
    padding: 1rem 2rem;
    position: relative;
}

.navItems li a:hover{
    color: var(--white);
    transition: .9s;
}

.navItems li a:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(50%) scale(0);
    -webkit-transform: translateX(-50%) scaleX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 60%;
    height: 1px;
    background-color: var(--theme-color-y);
    -webkit-transition: 250ms;
    transition: transform 250ms;
}

.navItems li a:hover:after{
    transform: translateX(-50%) scaleX(1);
}

.navItems li a {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    text-transform: uppercase;
    outline: none;
}

.active{
    color: #FF4C29;
}

.hamburger_menu{
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 4rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--white);
    display: none;
    outline: none;
}

.close_menu{
    display: none;
    font-size: 2rem;
    color: var(--white);
}

.hamburger_menu *{
    pointer-events: none;
}

@media only screen and (max-width: 758px){
nav{
    background-color: var(--theme-black);
}
.navItems li:hover{
    background-color: var(--white);
    background-color: var(--theme-color-y);
    cursor: pointer;
}

.logo a{
    display: block;
}

.navItems li:hover a{
    color: var(--theme-black);
    font-weight: 600;
}
 .hamburger_menu{
    display:block;
 }
.close_menu{
    display: block;
    width: 3rem;
    margin: 0 0 0 auto;
 }
.navItems{
    transition: 0.3 ease transform;
    background-color: var(--theme-color-x);
    box-shadow: #00000026 0px 15px 25px, #0000000d 0px 5px 10px;
    padding: 2rem;
    width: 90%;
    max-width: 300px;
    border-radius: 12px;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.navItems .close_menu{
    display: block;
    width: 3rem;
    margin: 0 0 0 auto;
    cursor: pointer;
}

.navItems .close_menu *{
    pointer-events: none;
}

.navItems li{
    display: block;
    margin-bottom: 1rem;
}
.hide-item{
    transform: translateY(calc(-100% - 1rem));
}
}