
.footer-area{
    background-color: var(--theme-black);
    text-align: center;
}

.footer-content{
    clip-path: polygon(49% 17%, 96% 35%, 100% 68%, 100% 100%, 68% 100%, 32% 100%, 0 100%, 0 67%, 4% 33%);
    background-color: var(--theme-color-x);
    padding: 100px 0 10px 0;
}

.footer-contact{
    justify-content: center;
}