@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

:root {
  /* --bg: #082032;
  --white: #ffffff;
  --theme-color-1: #2C394B;
  --theme-color-2: #FF4C29; */

  --bg: #ffffff;
  --white: #ffffff;
  --theme-color-1: #DA0037;
  --theme-color-2: #171717;
}

/* .container{
  width: 1140px;
  margin: 0 auto;
} */

.pt-100{
  padding-top: 100px;
}

.pb-100{
  padding-bottom: 100px;
}

.pt-50{
  padding-top: 50;
}

.pb-50{
  padding-bottom: 50;
}